@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans&subset=latin,latin-ext);

* {
    margin: 0;
    padding: 0;
}

#page {
    font-family: "Merriweather Sans", "Anonymous Pro", sans-serif;
    width: 100%;
}

#header {
    background-color: black;
    color: #D6D6D6;
    height: 50px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 5px;
}

#header h1 {
    padding-left: 25px;
    padding-top: 6px;
    display: inline-block;
    float: left;
}

#header nav ul {
    padding-top: 14px;
    margin-right: 80px;
    text-align: right;
}   

#header nav ul li {
    display: inline;
    list-style: none;
    margin-right: 9px;
}

#header nav ul li a {
    color: #D6D6D6;
    text-decoration: none;
}

#header nav ul li a:hover {
    color: white;
}

#content {
    clear: both;
    width: 80%;
    margin: auto;
    min-height: 500px;
    padding-top: 10px;
}

#articles {
    display: block;
    float: left;
    width: 70%;
}

#articles .article {
    margin-bottom: 15px;
}

#articles .meta {
    text-align: right;
    font-size: 13px;
    margin: 3px;
}

#side {
    display: block;
    float: right;
    width: 25%;
    text-align: center;
}

#side form fieldset {
    padding: 15px;
    border: 1px solid grey;
}

#side form fieldset legend {
    text-align: left;
    margin-left: 20px;
}

#side form input {
    margin-bottom: 15px;
    text-align: center;
}

#side form input[type="submit"] {
    font-size: 16px;
    width: 60px;
    padding: 3px;
}

#footer {
    clear: both;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 12px;
    border-top: 1px dashed grey;
    padding-top: 3px;
}
